{:deps {org.clojure/clojure {:mvn/version "1.10.3"}
        org.clojure/clojurescript {:mvn/version "1.10.516"}}
 :paths ["src" "target"]
 :aliases {:dev {:extra-deps {cljsjs/chroma {:mvn/version "1.1.1-0"}
                              com.bhauman/figwheel-main {:mvn/version "0.2.0"}
                              cljsjs/d3 {:mvn/version "4.2.2-0"}
                              devcards {:mvn/version "0.2.6"}
                              doo {:mvn/version "0.1.7"}
                              org.clojure/core.async {:mvn/version "0.2.391"}
                              org.clojure/test.check {:mvn/version "1.1.0"}
                              reagent {:mvn/version "0.8.1"}
                              sablono {:mvn/version "0.8.6"}
                              cljsjs/react {:mvn/version "16.6.0-0"}
                              cljsjs/react-dom {:mvn/version "16.6.0-0"}}
                 :extra-paths ["dev" "resources"]}}}
